@import 'ol/ol.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dateinput > input[type='text'] {
	@apply input input-bordered input-sm rounded-lg mt-2 w-fit;
}

.dateinput {
	--date-picker-foreground: oklch(var(--bc));
	--date-picker-background: oklch(var(--b1));
	--date-picker-highlight-border: oklch(var(--a));
	/*		--date-picker-highlight-shadow:;*/
	--date-picker-selected-color: oklch(var(--ac));
	--date-picker-selected-background: oklch(var(--a) / 0.4);
}

/*.btn-animate {
	transition-property: all;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.btn-animate:hover {
	transform: scale(1.05);
}
.btn-animate:active {
	transform: scale(0.95);
}*/

tr.error-down-img > td {
	background-color: oklch(var(--wa)) !important;
}
tr.error-down-checkin > td {
	background-color: oklch(var(--wa) / 0.5);
}

tr.row-outrange > td {
	background-color: rgba(0, 0, 255, 0.6);
}

tr.active > td {
	background-color: oklch(var(--b3));
}
